.btn {
  display: inline-flex;
  padding: var(--_components---button--vertical-padding) var(--_components---button--horizontal-padding);
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.4em;
  grid-row-gap: 0.4em;

  border: 1px solid transparent;
  border-radius: var(--_components---button--border-radius);

  background-color: var(--colors--primary-accent);

  box-shadow: inset 0 0 0 0 transparent;

  transition: box-shadow 300ms cubic-bezier(.165, .84, .44, 1),border-color 300ms cubic-bezier(.165, .84, .44, 1);

  font-family: var(--_components---button--font);
  color: var(--_color---neutral--white);
  font-size: var(--_components---button--font-size);
  line-height: var(--_components---button--line-height);
  font-weight: var(--_components---button--font-weight);
  text-align: center;
  letter-spacing: var(--_components---button--letter-spacing);
  text-decoration: none;
}

.btn:where(.w-variant-052759b4-b398-e98d-c28c-099b380d4426) {
  border-top-color: var(--colors--primary-accent);
  border-right-color: var(--colors--primary-accent);
  border-bottom-color: var(--colors--primary-accent);
  border-left-color: var(--colors--primary-accent);

  color: var(--colors--text);

  background-color: transparent;
}

.btn:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.15);
}

.btn:focus-visible {
  outline-color: var(--colors--primary-accent);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.btn.cc-full {
  width: 100%;
}

.u-mt-sm {
  margin-top: var(--_layout---spacing--margin-sm);
}